[Unit]
Description=Bluetooth devices tracker on Raspberry Pi
After=network.target bluetooth.service mosquitto.service

[Service]
Type=notify
User=daemon
Group=daemon
WorkingDirectory=/opt/bt_tracker/
ExecStart=/usr/bin/python3 /opt/bt_tracker/bt_tracker.py
StandardOutput=null
#StandardOutput=syslog
#SyslogIdentifier=bt_tracker
StandardError=journal
Environment=PYTHONUNBUFFERED=true
Restart=always

[Install]
WantedBy=multi-user.target
